<html>
    <head>
        <%- include("../header.ejs", {title: "Upload server image"}) %>
    </head>
    <body class="container">
        <%- include("../menu.ejs"); %>
        <%- include("upload.ejs"); %>
    </body>
</html>