<html>
    <head>
        <%- include("../header.ejs", {title: "Upload server image"}) %>
        <script src="/js/images.js"></script>
    </head>
    <body class="container">
        <%- include("../menu.ejs"); %>
        <%- include("upload.ejs"); %>
    </body>
</html>